body {
  background-image: url('/static/images/logo_no_words.png');
  background-position: right 0;
  background-repeat: no-repeat;
  background-size: contain;
  color: #1C1C1C;
}

.side-panel {
  background: #5A6876;
  min-height: 100vh;
  width: 25vw;
  padding: 1.5rem;
  color: #f4f8fb; /* white */
}

.side-panel p {
  font-size: 20px;
}

.main-page {
  height: 100vh;
  width: 75vw;
}

.navbar-followpol {
  justify-content: space-between;
  background: none;
  padding: 1rem 2.5rem !important;
}

.navbar-followpol .navbar-collapse {
  flex-grow: 0;
}

.burger-menu {
  border: 1px solid #287D89 !important;
  background: none;
}

/* Alert popup */
.warning {
  padding: 20px;
  background-color: #FAA741;
  color: #f4f8fb;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.pie-chart {
  width: 200px;
  height: 200px;
}

.links {
  color: #f4f8fb;
}

.links-navbar {
  color: #1C1C1C; /* black */
  margin: 0 15px;
}

li a {
  transition: 0.3s;
}

li a:hover {
  text-decoration: none;
  color: #287D89; /* yellow */
  font-weight: 800;
}

span a {
  transition: 0.3s;
}

span a:hover {
  text-decoration: none;
  color: #FEC95C;
  font-weight: 800;
}

.container-followpol {
  margin: 0 3rem;
}

.form-style {
  border: 4px solid #287D89;
  width: 35%;
}

.btn-style {
  background-color: #f4f8fb;
  color: #287D89;
  border: 1px solid #287D89;
  border-radius: 3px;
  padding: 12px;
  width: 35%;
  transition: 0.3s;
  font-weight: 800;
}

.btn-style:hover {
  background-color: #287D89;
  color: #f4f8fb;
  border: none;
  text-decoration: none;
}

.home-description {
  width: 45%;
}