body {
  background-image: url('/static/images/logo_no_words.png');
  background-position: right 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.side-panel {
  background: #5A6876;
  height: 100vh;
  width: 30vw;
}

.main-page {
  height: 100vh;
  width: 70vw;
  margin-top: 8px;
}

.navbar-followpol {
  justify-content: space-between;
  background: none;
}

.navbar-followpol .navbar-collapse {
  flex-grow: 0;
}

.burger-menu {
  border: 1px solid #287D89 !important;
  background: none;
}

/* Alert popup */
.warning {
  padding: 20px;
  background-color: #FAA741;
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}