{% extends 'layout.html' %}
{% block content %}
    <div class="my-5 home-description">
        <h2>Wie viele Abgeordnete folgen dir?</h2>
        <p>Gib einen Twitter-Namen oder eine Nutzer*innen-ID in
        das Textfeld ein und kliche auf „Jetzt berechnen”!</p>
    </div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group mb-1 fieldset-width">
            <div class="form-group icon">
                <i class="fas fa-at icon-at"></i>
                {{ form.handle(class="form-control form-control-lg form-style input-field") }}
                <i class="fas fa-search icon-search"></i>
            </div>
        </fieldset>
        <div class="form-group fieldset-width">
            {{ form.submit(class="btn-style") }}
        </div>
    </form>
{% endblock content %}